.selected-partition {
  color: red;
  font-weight: bold;
}

.nullish-content {
  color: gray;
  font-style: italic;
}

.button-as-link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.button-as-link:hover {
  color: #09B;
}
