#summary {
  margin: 5px 10px 5px;
}

ul.component-timing {
  list-style: none;
  padding-left: 10px;
  margin-top: 10px;
}

li.component-timing:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.timing-database {
  fill: #59d5e0;
}

li.component-timing.timing-database:before {
  background: #59d5e0;
}

.timing-providers {
  fill: #f5dd61;
}

li.component-timing.timing-providers:before {
  background: #f5dd61;
}

.timing-engine {
  fill: #faa300;
}

li.component-timing.timing-engine:before {
  background: #faa300;
}

.timing-network {
  fill: #f4538a;
}

li.component-timing.timing-network:before {
  background: #f4538a;
}
