version: 2
    
jobs:
  atoti_query:
    docker:
      - image: circleci/node:13.13
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-atoti-{{ checksum "atoti-query-analyser/package.json" }}
      - run:
          name: Install dependencies
          command: yarn install --cwd atoti-query-analyser
      - run:
          name: Build application
          command: yarn --cwd atoti-query-analyser build
      - save_cache:
          key: deps-atoti-{{ checksum "atoti-query-analyser/package.json" }}
          paths:
            - atoti-query-analyser/node_modules
      - run:
          name: Move to workspace
          command: |
            mkdir -p _build
            mv atoti-query-analyser/build _build/atoti_query
      - persist_to_workspace:
          root: _build
          paths: atoti_query
  deploy_to_master:
    docker:
      - image: circleci/node:13.13
    steps:
      - checkout
      - attach_workspace:
          at: _build
      - run:
          name: Install and configure dependencies
          command: yarn global add gh-pages@2.2.0 --prefix "$HOME"
      - add_ssh_keys:
          fingerprints:
            - "67:b5:b5:4f:7c:af:bb:32:1e:0a:ea:82:7a:61:68:0c"
      - run:
          name: Deploy applications to master
          command: |
            gh-pages --dist _build/atoti_query \
              --dest atoti-query-analyser \
              --branch master \
              --user "ci-build <ci-build@activeviam.com>"
    
workflows:
  version: 2
  build:
    jobs:
      - atoti_query
      - deploy_to_master:
          requires:
            - atoti_query
          filters:
            branches:
              only: develop
