{
  "extends": [
    "react-app",
    "airbnb-typescript",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier",
    "jsdoc",
    "@typescript-eslint/eslint-plugin",
    "eslint-plugin-tsdoc"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "jsdoc/require-jsdoc": [
      "error",
      {
        "publicOnly": true
      }
    ],
    "tsdoc/syntax": "warn",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "semi": 0,
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "react/destructuring-assignment": "off",
    "react/no-find-dom-node": "off",
    "no-nested-ternary": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "semi": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
